@font-face {
  font-family: 'iconfont'; /* Project id 2231269 */
  src: url('iconfont.woff2?t=1623240286400') format('woff2'),
    url('iconfont.woff?t=1623240286400') format('woff'),
    url('iconfont.ttf?t=1623240286400') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-click:before {
  content: '\e6a5';
}

.icon-move:before {
  content: '\ed5a';
}

.icon-remote-ctrl-off:before {
  content: '\e627';
}

.icon-remote-ctrl-on:before {
  content: '\e668';
}

.icon-edit:before {
  content: '\e7a0';
}

.icon-dots:before {
  content: '\e7ce';
}

.icon-locate:before {
  content: '\e6e3';
}

.icon-select:before {
  content: '\e666';
}

.icon-info-s:before {
  content: '\f02a';
}

.icon-laser-pointer:before {
  content: '\e665';
}

.icon-reply:before {
  content: '\e663';
}

.icon-stop:before {
  content: '\e664';
}

.icon-screen_share:before {
  content: '\e63d';
}

.icon-close:before {
  content: '\e65f';
}

.icon-arrow-left2:before {
  content: '\e61a';
}

.icon-arrow-right2:before {
  content: '\e61b';
}

.icon-android:before {
  content: '\e61c';
}

.icon-checkbox-unchecked:before {
  content: '\e61d';
}

.icon-check:before {
  content: '\e61e';
}

.icon-circle1:before {
  content: '\e61f';
}

.icon-circle-left:before {
  content: '\e620';
}

.icon-enlarge1:before {
  content: '\e621';
}

.icon-cross:before {
  content: '\e622';
}

.icon-checkmark:before {
  content: '\e623';
}

.icon-circle-right:before {
  content: '\e624';
}

.icon-exit:before {
  content: '\e625';
}

.icon-angle-double-left:before {
  content: '\e626';
}

.icon-enlarge:before {
  content: '\e628';
}

.icon-angle-double-right:before {
  content: '\e629';
}

.icon-circle-thin:before {
  content: '\e62a';
}

.icon-lock:before {
  content: '\e62b';
}

.icon-desktop:before {
  content: '\e62c';
}

.icon-delete:before {
  content: '\e62d';
}

.icon-circle-down:before {
  content: '\e62e';
}

.icon-bubbles:before {
  content: '\e62f';
}

.icon-files-empty:before {
  content: '\e630';
}

.icon-clock:before {
  content: '\e631';
}

.icon-ellipsis-v:before {
  content: '\e632';
}

.icon-ios:before {
  content: '\e633';
}

.icon-new-tab:before {
  content: '\e634';
}

.icon-eye-blocked:before {
  content: '\e635';
}

.icon-instagram:before {
  content: '\e636';
}

.icon-next2:before {
  content: '\e637';
}

.icon-bold:before {
  content: '\e638';
}

.icon-hand-o-left:before {
  content: '\e639';
}

.icon-loading:before {
  content: '\e63a';
}

.icon-spinner7:before {
  content: '\e63b';
}

.icon-minus:before {
  content: '\e63c';
}

.icon-power-off:before {
  content: '\e63e';
}

.icon-mouse-pointer:before {
  content: '\e63f';
}

.icon-info:before {
  content: '\e640';
}

.icon-dot-circle:before {
  content: '\e641';
}

.icon-user-plus:before {
  content: '\e642';
}

.icon-upload:before {
  content: '\e643';
}

.icon-hand-o-down:before {
  content: '\e644';
}

.icon-cog:before {
  content: '\e645';
}

.icon-plus:before {
  content: '\e646';
}

.icon-microphone:before {
  content: '\e647';
}

.icon-unlocked:before {
  content: '\e648';
}

.icon-hand-o-up:before {
  content: '\e649';
}

.icon-windows:before {
  content: '\e64a';
}

.icon-qrcode:before {
  content: '\e64b';
}

.icon-pencil1:before {
  content: '\e64c';
}

.icon-reset:before {
  content: '\e64d';
}

.icon-external-link:before {
  content: '\e64e';
}

.icon-shrink:before {
  content: '\e64f';
}

.icon-send-o:before {
  content: '\e650';
}

.icon-circle-up:before {
  content: '\e651';
}

.icon-switch:before {
  content: '\e652';
}

.icon-microphone-slash:before {
  content: '\e653';
}

.icon-italic:before {
  content: '\e654';
}

.icon-instagram1:before {
  content: '\e655';
}

.icon-shrink2:before {
  content: '\e656';
}

.icon-previous2:before {
  content: '\e657';
}

.icon-users:before {
  content: '\e658';
}

.icon-pencil-square-o:before {
  content: '\e659';
}

.icon-sign-out:before {
  content: '\e65a';
}

.icon-palette:before {
  content: '\e65b';
}

.icon-hand-o-right:before {
  content: '\e65c';
}

.icon-radio-unchecked:before {
  content: '\e65d';
}

.icon-video-camera1:before {
  content: '\e65e';
}

.icon-eye:before {
  content: '\e660';
}

.icon-eraser1:before {
  content: '\e661';
}

.icon-underline:before {
  content: '\e662';
}

.icon-redo:before {
  content: '\e609';
}

.icon-tools:before {
  content: '\e60a';
}

.icon-hollow:before {
  content: '\e60b';
}

.icon-solid:before {
  content: '\e60c';
}

.icon-images:before {
  content: '\e60d';
}

.icon-undo:before {
  content: '\e60e';
}

.icon-brush:before {
  content: '\e60f';
}

.icon-eraser:before {
  content: '\e610';
}

.icon-circle-h:before {
  content: '\e611';
}

.icon-circle:before {
  content: '\e612';
}

.icon-font:before {
  content: '\e613';
}

.icon-line:before {
  content: '\e614';
}

.icon-text:before {
  content: '\e615';
}

.icon-rect:before {
  content: '\e616';
}

.icon-rect-h:before {
  content: '\e617';
}

.icon-pencil:before {
  content: '\e618';
}

.icon-line1:before {
  content: '\e619';
}
