.panoTinyVideo {
  width: 174px;
  height: 100px;
  display: inline-block;
  vertical-align: top; // 默认inlineblock是baseline对齐，如果内部元素高度不同导致整行不对齐
  align-items: center;
  // background-image: url(../../assets/img/poster.jpg);
  background-image: #000;
  background-position: center center;
  background-size: cover;
  position: relative;
  border: 2px solid #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;

  &:hover .iconEnlarge {
    color: #3bb1d3;
  }
  &_mostActive {
    border: 2px solid #68d56a;
  }

  .iconEnlarge {
    visibility: visible;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: transparent;
    transition: color 0.3s ease;
    z-index: 2;
  }
}
.panoTinyVideo ~ .panoTinyVideo {
  margin-left: 20px;
}

.userVideoStatus {
  position: absolute;
  bottom: 2px;
  height: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 5px;
  padding: 0 5px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.userVideoUserName {
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  text-align: right;
  color: white;
  margin-right: 5px;
  font-size: 12px;
}

.userVideoUserName__videoMuted,
.userNameMainView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  text-align: center;
  z-index: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
  user-select: none;
}

.videoDomRef {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.panoMainViewVideo {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;

  .videoDomRef {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0px;
    margin: auto;
    display: block;
    background-position: center center;
    background-size: cover;
    position: absolute;
    z-index: 10;
  }

  .iconShrink {
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 3px;
    z-index: 20;
  }

  .userLocked {
    position: absolute;
    top: 20px;
    left: 40px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    color: #fff;
    width: auto;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
  }

  .userVideoStatus {
    width: auto;
    bottom: 23px;
    right: 10px;
    z-index: 20;
    // background-color: transparent;
    .userVideoUserName {
      max-width: 400px;
    }
  }

  .userVideoUserName {
    font-size: 14px;
    margin-right: 15px;
  }
}
